<nav id="nav_div" class="navbar navbar-inverse navbar-fixed-top" style="left: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-24">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://www.coupondunia.in/?ref=nav_logo">
                        <img style="" src="http://cdn01.coupondunia.in/resources/img/logo-white.png" alt="coupondunia_logo">
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav header-nav">
                        <li data-href="http://www.coupondunia.in/online?ref=nav_ol">
                            <div class="menu-item" data-menu="online">
                                <a href="http://www.coupondunia.in/online?ref=nav_ol">
                                    <span class="menu-text">Online</span>
                                    <span class="flaticon-arrow483"></span>
                                </a>
                            </div>
                        </li>
                        <li data-href="http://www.coupondunia.in/mumbai/restaurants/?ref=nav_rest">
                            <div class="menu-item" data-menu="restaurants" style="display: block;">
                                <a href="http://www.coupondunia.in/mumbai/restaurants?ref=nav_rest">
                                    <span class="menu-text">Restaurants</span>
                                    <span class="flaticon-arrow483"></span>
                                </a>
                            </div>
                        </li>
                        <li data-href="http://www.coupondunia.in/mumbai/in-store?ref=nav_is">
                            <div class="menu-item" data-menu="retail">
                                <a href="http://www.coupondunia.in/mumbai/in-store?ref=nav_is">
                                    <span class="menu-text">In-Store</span>
                                    <span class="flaticon-arrow483"></span>
                                </a>
                            </div>
                        </li>
                        <li data-href="http://www.coupondunia.in/mumbai/groceries?ref=nav_cg">
                            <div class="menu-item" data-menu="fmcg">
                                <a href="http://www.coupondunia.in/mumbai/groceries?ref=nav_cg"><span>Groceries</span></a>
                            </div>
                        </li>
                    </ul>
                    <form id="searchForm" class="navbar-form-fmcg navbar-left search-box" role="search" action="http://www.coupondunia.in/search/">
                        <div id="search-content" class="form-group">
                            <div class="input-group-fmcg">
                                <span class="input-group-addon">
                                    <img src="http://cdn01.coupondunia.in/resources/img/search.png">
                                </span>

                                <input type="text" id="query" name="q" class="form-control txt_search" placeholder="Search" autocomplete="off">
                                <span class="input-group-addon search-btn">
                                    <span>Search</span>
                                </span>
                            </div>
                            <ul id="results" style="display: none;"></ul>

                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle menu-item city-dropdown" data-toggle="dropdown" role="button" aria-expanded="false">Mumbai<span class="flaticon-arrow483"></span></a>
                                <ul class="dropdown-menu city-dropdown-menu" role="menu">
                                        <li data-city="ahmedabad"><a rel="51">Ahmedabad</a></li>
                                        <li data-city="bangalore"><a rel="3">Bangalore</a></li>
                                        <li data-city="chennai"><a rel="84">Chennai</a></li>
                                        <li data-city="delhi-ncr"><a rel="2">Delhi-NCR</a></li>
                                        <li data-city="kolkata"><a rel="33">Kolkata</a></li>
                                        <li data-city="pune"><a rel="5">Pune</a></li>
                                </ul>

                        </li>
                        <li class="header-login uppercase" style="display: none;"><span class="btn btn-primary">Sign In</span></li>
                        <li class="dropdown" style="">
                            <a class="dropdown-toggle user-dropdown user-dropdown-profile" data-toggle="dropdown" role="button" aria-expanded="false">
                                <img class="user-image" src="https://lh5.googleusercontent.com/-rye2EBkzZII/AAAAAAAAAAI/AAAAAAAAGyA/VmP23VuN40E/photo.jpg" alt="User Profile">
                            </a>
                            <ul class="dropdown-menu user-dropdown-menu" role="menu">
                                <li><a href="http://www.coupondunia.in/profile#Subscriptions" class="header-profile">Subscriptions</a></li>
                                <li><a href="http://www.coupondunia.in/profile#Wallet" class="header-profile">Wallet</a></li>
                                <li><a href="http://www.coupondunia.in/profile#Favourites" class="header-profile">Favourites</a></li>
                                <li class="header-logout"><a href="http://www.coupondunia.in/profile/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
</nav>